@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark: rgb(32, 33, 66);
  --main-sub: rgb(98, 99, 121);
  --main-light: rgb(252, 252, 255);
  --light-purple: rgb(241, 241, 253);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a .active {
  text-decoration: underline;
}

img {
  max-width: 450px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-bottom: 2px solid var(--light-purple);
}

.navbar a {
  text-decoration: none;
  color: var(--main-sub);
  font-size: 16px;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 500;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 2rem;
}

.navbar-links .active {
  color: var(--main-dark);
  padding: 10px 15px;
  border-radius: 32px;
  background-color: var(--light-purple);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-light);
}

.hero-main-text {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-dark);
}

.hero-secondary-text {
  font-size: 18px;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.button-primary,
.button-secondary {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}

.button-primary {
  padding: 10px 25px;
  background-color: var(--main-dark);
  color: rgb(255, 255, 255);
}

.button-secondary {
  color: var(--main-dark);
  padding: 0;
}

.main-content {
  flex: 1;
}

.footer {
  padding: 16px 48px;
  text-align: center;
  color: #e5e7eb;
  background-color: var(--main-dark);
}

.footer a {
  font-weight: 500;
  color: rgb(229, 231, 235);
}
