@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark: rgb(32, 33, 66);
  --main-sub: rgb(98,99,121);
  --main-light: rgb(252, 252, 255);
  --light-purple: rgb(241, 241, 253);
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

a,
button {
  all: unset;
  cursor: pointer;
}

a .active {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

img {
  max-width: 450px;
}

.header,
.footer {
  padding: 16px 48px;
}

.header {
  font-size: 18px;
  color: var(--main-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 500;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 85px;
}

.navbar a {
  text-decoration: none;
  color: rgb(229, 231, 235);
  font-size: 18px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  margin-bottom: 85px;
}


.hero-main-text {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-dark);
}

.hero-secondary-text {
  margin-bottom: 12px;
  font-size: 18px;
}

.button-primary,
.button-secondary {
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight:500;
}

.button-primary {
  background-color: var(--main-dark);
  color: rgb(255, 255, 255);
}

.button-secondary {
  color: var(--main-dark);
}

.main-content {
  flex: 1;
}

.footer {
  text-align: center;
  color: #e5e7eb;
  background-color: var(--main-dark);
}

.footer a { 
  font-weight: 500;
  color:rgb(229, 231, 235);
}
